<html>
    <head>
        {% load static %}

        <!-- Bootstrap -->
        <link href="{% static 'GestionPedidos/Bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    </head>
    <body>
      <p>Hola</p>

      <!-- Contenido  cambiante-->
    {% block content %}

        

    {% endblock %}


    </body>

    <!-- Bootstrap -->
    <script src="/Bootstrap/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/Bootstrap/js/popper.min.js"></script>
    <script src="/Bootstrap/js/bootstrap.min.js"></script>

</html>